<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial=1.0">
        <link rel="stylesheet" href="../css/styles.css" charset="utf-8">
        <title>Rate</title>
    </head>
<body>
    <h1>Rate the Restaurant</h1>
    <hr>
    <h2>
        <%- include ('./partials/messages') %>
    </h2>

    <% if (error_msg != 'you have rated'){ %>
    <form action="/rate" method="POST">
    <br>Rate : <input type="number" name="score" value=1 min="1" max="10"> (default : 1)</br>

    <input type="hidden" name="_id" value=<%=_id%>>
    
    
    <br><input type="submit" value="Rate"></br>
    
    </form>
    <%}%>

    <form action="/">
        <input type="submit" value="Back">
    </form>
    

</body>

</html>